# ---- Maven ----
target/

# ---- NetBeans ----
nbproject/private/
nbactions.xml
nb-configuration.xml
build/
dist/

# ---- Otros IDEs ----
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# ---- Java ----
*.class
*.war
*.jar
*.log

# ---- CONFIGURACION LOCAL: NUNCA SUBIR CREDENCIALES ----
src/main/resources/db.properties

# ---- Sistema operativo ----
Thumbs.db
Desktop.ini
.DS_Store
